 body {
  color: white;
  background-image: url('../media/lightningbolt.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgb(28, 28, 28);
  background-position: center;
  font-family: 'Ubuntu', Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: rgb(255, 210, 0);
}

.mainContainer{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
}

.mainContainer > *{
  background-color: rgba(83, 110, 133, 0.3);
}

.flexItem{
  flex:1;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
  justify-content: center;
  width: 57%;
}

.headerflex{
  display: flex;
  justify-content: flex-start;
}

.flexLogo{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.flexLogo > * {
  flex: 1;
}

.flexLogo .logo{
  flex: 0 0 100px;
  padding-top: 10px;
  padding-left: 30px;
}

.flex-nav a {
  color: rgb(89, 139, 185);
  text-decoration: none;
  background: rgba(0, 0, 0, 0.5);
  padding: 15px 0px;
  display: inline-block;
  width: 100%;
  text-align: center;
  transition: all 0.5s;
}

.flex-nav ul {
  background-color: rgb(33, 156, 231);
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.flex-nav li{
  flex: 1;
}

h2:hover, nav ul li a:hover{
  background-color: rgb(255, 210, 0);
  color: black;
}

.footerflex{
  font-style: italic;
  display: flex;
  justify-content: flex-end;
}

.footerflex p {
  padding: 10px;
}

.rsFlex{
  display: flex;
}

.rsFlex > *{
  margin: 0px;
}

.wrapper{
  padding-top: 20px;
}

#awesomeAnimation{
  position: relative;
}

.staticadvert{
  color: rgb(255, 210, 0);
  text-align: center;
  height: 330px;
}

.WrapFlexContainer{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
  align-items: center;
  min-height: 100vh;
}

.WrapFlexContainer > *{
  width: 70%;
  background-color: rgba(83, 110, 133, 0.3);
}

.WrapFlexContainer main{
  text-align: center;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.WrapFlexContainer footer{
  flex-grow: 0.01;
}

.amazingForm{
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  background: rgba(125, 125, 125, 0.2);
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flexFields {
  display: flex;
  padding: 3px;
  justify-content: space-between;
}

.flexFields > * {
  flex: 1;
}

.flexFields input[type=text]{
  width: 300px;
  flex: 1.5;
  padding: 3px;
}

label{
  padding: 2px;
}

.flexBtn{
  display: flex;
  width: 200px;
  margin: 10px;
}

.flexBtn > * {
  flex: 0.45;
}

input[type=text]{
   border-radius: 4px;
}

::placeholder{
  color: red;
  font-style: oblique;
}

.yellow{
  color: rgb(255, 210, 0);
}

.inDaMiddle{
  display: flex;
  height: 70vh;
  justify-content: center;
  align-items: center;
}

.nomatch{
  color: red;
}


.flexResultSetWrapper{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

.flexResultSetWrapper > *{
  flex: 1;
}


#coolBuy{
  display: none;
}

th{
  background-color: rgb(43, 43, 43);
  color: rgb(255, 210, 0);
}

td{
  background-color: rgba(94, 94, 94, 0.7);
}
th, td{
  padding: 10px;
}

td:hover{
  background-color: rgb(255, 210, 0);
  color: black;
}
