body {

  color: white;
  background-image: url(lightningbolt.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgb(28, 28, 28);
  background-position: center;
  font-family: 'Ubuntu', Helvetica, sans-serif;

}

nav ul{
    list-style-type: none;
    margin-top: 30px;
    padding: 0;
    position: sticky;
    top: 0;
    display: block;
    text-decoration: none;
    overflow: hidden;
}

nav li{
    float: left;
    background-color: rgb(55, 111, 145)
}

nav ul li a {
  display: block;
  width: auto;
  color: rgb(43, 43, 43);
  padding: 14px 16px;
  text-decoration: none;
  text-align: center;
}


.logo{
  padding-top: 10px;
}

.row{
  display: flex;
  background-color: ;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.column{
  padding: 10px;
}

.column h1{
  text-align: left;
}

.clearfix{
  overflow: auto;
}

.yellow{
  color: rgb(255, 210, 0);
}

footer{
  font-style: italic;
  position: fixed;
  right: 0;
  bottom: 0%;
  left: 0;
  padding: 10px;
  text-align: center;
}

.staticadvert{
  color: rgb(255, 210, 0);
  text-align: center;
  height: 330px;
}

.centerviewpoint{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  height: auto;
  border-radius: 3px;
  background-color: rgba(83, 110, 133, 0.3);
  text-align: center;
}

.videoadvert{

}

#awesomeAnimation{
  position: relative;
}

a {
  text-decoration: none;
  color: rgb(255, 210, 0);
}

h2:hover, nav ul li a:hover{
  background-color: rgb(255, 210, 0);
  color: black;
}

#coolBuy{
  display: none;
}

h6{
  color: red;
}

.holyDiv{
  height: 500px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.amazingForm{
text-align: center;
margin-right: 10%;
}

label{
    float: left;
    clear: left;
    width: 250px;
    text-align: right;
    padding: 2px;

}

input[type=text]{
  width: 300px;
  float: left;
  margin-left: 5px;
}

::placeholder{
  color: red;
  font-style: oblique;
}
